@charset "UTF-8";
@import "base/variables";
@import "base/functions";
@import "base/normalize";
@import "base/globalclasses";
@import "base/minxins";
.ui-container {
    position: absolute;
    top: pxtorem(47px);
    bottom: 0;
    left: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}


/*header*/

.ui-header {
    background-color: #F7F9F8;
    border-bottom: 1px solid #CCCCCC;
    position: relative;
    z-index: 10;
}

.ui-header h2 {
    color: #666666;
    text-align: center;
    margin: 0;
    height: pxtorem(46px);
    line-height: pxtorem(46px);
    font-size: pxtorem(20px);
}

.ui-header [class^="hd-"],
.ui-header [class*=" hd-"] {
    position: absolute;
    top: 0;
}

.ui-header .hd-left {
    left: 0;
    text-align: left;
}

.ui-header .hd-right {
    right: 0;
    text-align: right;
    color: #1F927F;
}

.ui-header [class^="icons-"] {
    padding: pxtorem(10px);
    min-width: pxtorem(50px);
    display: block;
    font-size: pxtorem(16px);
}

.ui-header .hd-left .icons-back {
    text-indent: pxtorem(-4px);
}

.ui-header .hd-left .fa,
.ui-header .hd-right .fa {
    font-size: pxtorem(26px);
    color: #1F927F;
}

.ui-header .hd-right [class^="icons-"] {
    text-align: right;
}

.ui-header .hd-right .icons-save {
    padding: pxtorem(12px) pxtorem(10px);
}

.ui-header .hd-right .badge {
    background-color: #FFA64D;
    position: relative;
    right: pxtorem(-10px);
    bottom: pxtorem(-2px);
    z-index: 10;
    height: pxtorem(14px);
    min-width: pxtorem(14px);
    line-height: pxtorem(15px);
    text-align: center;
    padding: 0;
}

.ui-header .icons-menu,
.ui-header .icons-user {
    color: #1D9180;
}

.ui-header .icons-back {
    color: #999999;
}

.ui-header .icons-back:hover {
    color: #666666;
}

.ui-navbar-nav li {
    line-height: pxtorem(36px);
    background-color: #DDDDDD;
    margin-left: 1px;
}

.ui-navbar-nav li.active {
    background-color: #EEEEEE;
}


/*ui-line-tips*/

.ui-line-tips {
    text-align: center;
    color: #999999;
    margin: pxtorem(10px) 5% pxtorem(25px);
    position: relative;
    display: none;
}

.ui-line-tips:before {
    display: inline-table;
    content: '';
    height: 1px;
    background-color: #DDD;
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    z-index: 5;
    margin-top: pxtorem(-2px);
}

.ui-line-tips span {
    position: relative;
    background: #EEEEEE;
    padding: 0 3%;
    z-index: 10;
    color: #999;
}

.ui-line-tips-down span {
    color: #CCCCCC;
}


/*ui-loding*/

.ui-loding {
    padding: pxtorem(15px) 0;
    display: none;
}

.ui-loding:after {
    display: block;
    content: '';
    clear: both;
}

.ui-loding-info {
    margin-left: -15%;
    position: relative;
    left: 50%;
    display: inline-block;
    width: pxtorem(190px);
}

.ui-loding-info img {
    float: left;
    width: pxtorem(40px);
    height: pxtorem(40px);
    margin-left: pxtorem(-40px);
    margin-right: pxtorem(10px);
}

.ui-loding-info h5 {
    font-size: pxtorem(16px);
    margin-bottom: pxtorem(5px);
    margin-top: 0;
}

.ui-loding-info p {
    margin-bottom: 0;
}

.ui-loding-info h5,
.ui-loding-info p {
    text-align: left;
    color: #999;
}

.ui-loding-white {
    background-color: #fff;
}

.ui-loding-white h5 {
    margin: 0;
    line-height: pxtorem(40px);
}


/*globe*/

.item-count-mask {
    background-color: rgba(0, 0, 0, .2)
}

.item-count {
    color: #fff;
}

.item-count i {
    display: inline-block;
    background-color: #ffffff;
    color: #f00;
    border-radius: pxtorem(2px);
    padding: pxtorem(3px) pxtorem(5px);
    margin-left: 1px;
    font-weight: bold;
}

.item-count i:nth-child(1) {
    margin-left: pxtorem(5px);
}

.item-count i:nth-child(2) {
    margin-right: 1px;
}

.item-price {
    color: #fff;
    font-size: pxtorem(16px);
    font-weight: bold;
}


/*.ui-item-login{padding: 0 pxtorem(10px);}*/

.ui-login {
    position: absolute;
    top: pxtorem(46px);
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 50;
    padding: pxtorem(24px) pxtorem(10px) pxtorem(30px);
    -webkit-transform: translate3d(0, -130%, 0);
}

.ui-login:after {
    display: block;
    content: '';
    height: pxtorem(5px);
    width: pxtorem(30px);
    border-radius: pxtorem(3px);
    background-color: #888888;
    position: absolute;
    bottom: pxtorem(5px);
    left: 50%;
    margin-left: pxtorem(-15px);
}

.ui-login .btn {
    margin-bottom: pxtorem(20px);
}

.ui-login p {
    margin-bottom: pxtorem(5px);
    color: #fff;
}

.ui-login p a {
    color: #1D917F;
}

.ui-login-tips {
    padding: 0 pxtorem(10px);
}

.ui-login-tips .btn {
    margin-bottom: pxtorem(20px);
}

.ui-login-tips .t {
    margin-bottom: pxtorem(5px);
    color: #999999;
}

.ui-login-tips .t a {
    color: #1D917F;
}

.ui-login-tips-fixed {
    position: absolute;
    top: pxtorem(46px);
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 50;
    padding: pxtorem(30px) pxtorem(10px) pxtorem(30px);
}

.ui-login-tips-fixed .t:first-child {
    margin-bottom: pxtorem(15px);
}

.ui-login-tips-fixed .t {
    color: #fff;
}

.ui-login-tips-fixed .t a {
    color: #FFA64D;
}

.ui-login-tips-fixed:after {
    display: block;
    content: '';
    height: pxtorem(5px);
    width: pxtorem(30px);
    border-radius: pxtorem(3px);
    background-color: #888888;
    position: absolute;
    bottom: pxtorem(5px);
    left: 50%;
    margin-left: pxtorem(-15px);
}

.ui-pasw-tips {
    text-align: right;
    padding: pxtorem(10px);
}

.ui-pasw-tips a {
    text-decoration: none;
}

.ui-pasw-deal {
    text-align: left;
    padding: pxtorem(10px);
    color: #999999;
    font-size: pxtorem(14px);
    a {
        color: #1F927F;
    }
    span {
        color: #FFA64D;
    }
}

.ui-btn-default-panel {
    padding: pxtorem(20px) pxtorem(15px) 0;
}

.ui-btn-panel {
    padding: pxtorem(15px) pxtorem(15px);
    .btn-block {
        width: auto;
    }
}

.ui-btn-bottom-panel {
    padding: pxtorem(10px);
    border-top: 1px solid #DDDDDD;
    margin-top: pxtorem(20px);
}

.ui-alert {
    padding: pxtorem(20px) 0;
    text-align: center;
    color: #999999;
    margin: 0
}


/*
 * ui-share-panel
 * =========================================================================================================
 */

.ui-share {
    position: absolute;
    top: pxtorem(46px);
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 50;
    padding: pxtorem(30px) pxtorem(10px) pxtorem(30px);
    display: none;
}

.ui-share:after {
    display: block;
    content: '';
    height: pxtorem(5px);
    width: pxtorem(30px);
    border-radius: pxtorem(3px);
    background-color: #888888;
    position: absolute;
    bottom: pxtorem(5px);
    left: 50%;
    margin-left: pxtorem(-15px);
}

.ui-share a {
    color: #ffffff;
    float: left;
    width: 33.33%;
    text-align: center;
}

.ui-share .fa {
    font-size: pxtorem(48px);
}

.ui-share p {
    font-size: pxtorem(16px);
}


/*
 * ui-arrows
 * =========================================================================================================
 */

.ui-arrows {
    position: relative;
}

.ui-arrows:after {
    display: block;
    content: '';
    border-right: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
    -webkit-transform: rotate(-45deg);
    width: pxtorem(16px);
    height: pxtorem(16px);
    position: absolute;
    right: pxtorem(17px);
    top: 50%;
    margin-top: pxtorem(-6px);
}


/*
 * ui-btn-line
 * =========================================================================================================
 */

.ui-btn-line {
    display: -webkit-box;
}

.ui-btn-line li {
    -webkit-box-flex: 1;
    text-align: center;
    cursor: pointer;
    width: 100%;
    margin-left: pxtorem(10px);
}

.ui-btn-line li:first-child {
    margin-left: 0;
}


/*
 * ui-star
 * =========================================================================================================
 */

.ui-star {
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

.ui-star .fa {
    color: #CCCCCC;
    font-size: pxtorem(32px);
    margin-right: pxtorem(5px);
    cursor: pointer;
}

.ui-star .active {
    color: #FFA64D;
}


/* 
 * ui-sidemenu
 * ============================================================================================================================================================
*/


/*.ui-sidemenu-active .ui-sidemenu{-webkit-transition-duration:500ms;-webkit-transform:translate3d(100%,pxtorem(0px),pxtorem(0px));}*/


/* .ui-sidemenu-active .ui-sidemenu{left: 0} */

.ui-sidemenu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 99999;
    -webkit-transform: translate3d(-100%, 0, 0);
}

.ui-sidemenu-main {
    background-color: rgba(255, 255, 255, .9);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    padding: pxtorem(10px);
    width: 80%;
    padding-top: 15%;
}

.ui-sidemenu-mask {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.ui-sidemenu-user {
    text-align: center;
    margin-bottom: 25%;
}

.ui-sidemenu-user div {
    margin-bottom: pxtorem(20px);
}

.ui-sidemenu-user i {
    display: inline-block;
    font-size: pxtorem(30px);
    padding: pxtorem(7px);
    border-radius: 100%;
    border: 1px solid #DDDDDD;
    color: #999999;
}

.ui-sidemenu-user img {
    width: pxtorem(80px);
    height: pxtorem(80px);
    border-radius: 100%;
    margin: 0 pxtorem(20px);
}

.ui-sidemenu-user p {
    text-align: center;
}

.ui-sidemenu-user a,
.ui-sidemenu-user span {
    padding: 0 pxtorem(10px);
    color: #666666;
    font-weight: bold;
}

.ui-sidemenu-user a:hover,
.ui-sidemenu .ui-sidemenu-user span {
    color: #1D9180;
}

.ui-sidemenu-nav li {
    border-bottom: 1px solid #DDDDDD;
    position: relative;
    z-index: 5;
}

.ui-sidemenu-nav li:first-child {
    border-top: 1px solid #DDDDDD;
}


/*.ui-sidemenu-nav li:after,.ui-sidemenu-nav li:before{display: block;content: '';height: 1px;width: pxtorem(15px);background-color: #DDDDDD;position: absolute;right: pxtorem(10px);}
.ui-sidemenu-nav li:before{-webkit-transform:rotate(45deg);top: pxtorem(15px);}
.ui-sidemenu-nav li:after{-webkit-transform:rotate(-45deg);bottom: pxtorem(15px);}*/

.ui-sidemenu-nav li .fa {
    font-size: pxtorem(22px);
    color: #999999;
    margin-right: pxtorem(10px);
}

.ui-sidemenu-nav li a {
    color: #666666;
    font-size: pxtorem(14px);
    font-weight: bold;
    padding: pxtorem(10px);
    display: block;
}

.ui-sidemenu-nav li a:hover {
    color: #1D9180;
    text-decoration: none;
}

.ui-sidemenu-nav li a:hover .fa {
    color: #1D9180;
}

.ui-dialog {}

.ui-dialog.show {
    display: block;
}

.ui-dialog-mask {
    position: fixed;
    z-index: 10000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.ui-dialog-cent {
    background: rgba(0, 0, 0, .8);
    text-align: center;
    font-size: pxtorem(14px);
    color: #fff;
    line-height: pxtorem(18px);
    min-height: pxtorem(18px);
    border-radius: pxtorem(5px);
    position: fixed;
    top: 50%;
    z-index: 100001;
    left: 40%;
    -webkit-transform: translate(-40%, -50%);
    min-width: pxtorem(300px)
}

.ui-dialog-hd {}

.ui-dialog-hd h3 {
    margin: 0;
    font-size: pxtorem(20px);
    padding-top: pxtorem(20px);
}

.ui-dialog-bd {
    padding: pxtorem(20px);
}

.ui-dialog-ft {
    border-bottom-left-radius: pxtorem(6px);
    border-bottom-right-radius: pxtorem(6px);
    display: -webkit-box;
    width: 100%;
    -webkit-box-align: center;
    border-top: 1px solid #999999;
    height: pxtorem(42px);
    line-height: pxtorem(42px);
    display: none;
}

.ui-dialog-ft button {
    color: #fff;
    text-align: center;
    border: none;
    border-right: 1px #999999 solid;
    width: 100%;
    line-height: pxtorem(39px);
    background: transparent;
    display: block;
    -webkit-box-flex: 1;
    font-size: pxtorem(20px);
}

.ui-dialog-ft button:first-child {
    border-bottom-left-radius: pxtorem(6px);
}

.ui-dialog-ft button:last-child {
    border-right: 0;
    border-bottom-right-radius: pxtorem(6px);
}

.ui-c-gray {
    color: #999;
}

.ui-c-red {
    color: #f00;
}

.ui-c-green {
    color: #209281;
}

.ui-overflow-hidden {
    overflow: hidden;
}


/*
 *ui-form
 *=================================================================================================================================================
 */

.rigister {
    .ui-btn {
        margin-top: pxtorem(20px);
    }
}

.forgetpassword {
    .ui-btn {
        margin-top: pxtorem(20px);
    }
}

.ui-form {
    background-color: #ffffff;
    padding: 0 pxtorem(5px);
    @include border-bottom;
    @include border-top;
    margin-top: -1px;
}

.ui-form-item {
    position: relative;
    padding: pxtorem(5px);
    @include border-bottom;
}

.ui-form-item:last-child {
    border-bottom: none;
}

.ui-form-item input,
.ui-form-item textarea {
    border: none;
    width: 100%;
    padding: pxtorem(8px) pxtorem(5px) pxtorem(8px) pxtorem(5px);
    font-size: pxtorem(15px);
    color: #666666;
}

.ui-form-item-r input {
    padding-right: pxtorem(92px);
}

.ui-form-item .btn {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: pxtorem(-17px);
    max-width: pxtorem(82px);
}

.ui-form-item .icons-info {
    position: absolute;
    top: 50%;
    left: pxtorem(5px);
    font-size: pxtorem(24px);
    margin-top: pxtorem(-17px);
    color: #999999;
}

.ui-form-radio {
    padding: pxtorem(10px)
}

.ui-form-item:last-child {
    border-bottom-width: 0;
}

.ui-form-item p {
    margin-bottom: 0;
    padding: pxtorem(7px) pxtorem(5px);
    font-size: pxtorem(15px);
    color: #666666;
}

.ui-form-icon .ui-form-item {
    padding-left: pxtorem(35px);
}

.ui-form-action {
    margin-bottom: pxtorem(20px);
}

.ui-pasw-tips {
    font-weight: bold;
    text-align: right;
    padding: pxtorem(10px);
}

.ui-pasw-tips a {
    text-decoration: none;
}

.ui-pasw-deal {
    font-weight: bold;
    text-align: left;
    padding: pxtorem(10px);
}

.ui-btn {
    padding: 0 pxtorem(10px);
}

.ui-form-party {
    margin-bottom: pxtorem(40px);
    text-align: center;
    border-top: 1px dotted #CCCCCC;
    padding-top: pxtorem(30px);
    margin-top: pxtorem(40px);
}

.ui-form-party a {
    color: #fff;
    display: inline-block;
    width: pxtorem(70px);
    height: pxtorem(70px);
    border-radius: 100%;
    text-align: center;
    line-height: pxtorem(68px);
    font-size: pxtorem(60px);
    padding: pxtorem(5px);
    text-decoration: none;
    margin-left: pxtorem(10px);
}

.ui-form-party i {
    display: block;
}

.ui-form-party .ui-alipay {
    background-color: #E46713;
    margin-left: 0
}

.ui-form-party .ui-weibo {
    background-color: #FF7373;
}

.ui-form-party .ui-weixin {
    background-color: #55A947;
}

.ui-radio {
    line-height: pxtorem(32px);
    margin: 0 pxtorem(20px) 0;
    position: relative;
}

.ui-radio input[type="radio"] + span:hover {
    cursor: pointer;
}

.ui-radio input[type="radio"]:disabled + span:hover {
    cursor: not-allowed;
}

.ui-radio input[type="radio"]:disabled + span:hover:before {
    border-color: #ccc;
}

.ui-radio input[type="radio"] {
    display: none;
}

.ui-radio input[type="radio"] + span {
    font-weight: 400;
    padding-left: pxtorem(10px);
}

.ui-radio input[type="radio"] + span:before {
    background: none repeat scroll 0 0 #CCCCCC;
    border: 1px solid #ccc;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: pxtorem(24px);
    left: pxtorem(-20px);
    position: absolute;
    top: 0;
    /*transition: all 0.15s ease-in-out 0s;*/
    vertical-align: middle;
    width: pxtorem(24px);
}

.ui-radio input[type="radio"]:disabled + span:before {
    border: 1px solid #ccc;
    cursor: no-drop;
    opacity: 0.65;
}

.ui-radio input[type="radio"]:checked + span:before {
    border-color: #209281;
}

.ui-radio input[type="radio"]:checked + span:after {
    background-color: #209281;
    border-radius: 50%;
    content: "✓";
    display: block;
    height: pxtorem(24px);
    left: pxtorem(-20px);
    position: absolute;
    top: pxtorem(0px);
    width: pxtorem(24px);
    text-align: center;
    color: #fff;
    /*-webkit-transition: all .2s;transition: all .2s;*/
}

.ui-radio input[type="radio"]:disabled:checked + span:before {
    border-color: #ccc;
}

.ui-radio input[type="radio"]:disabled:checked + span:after {
    background-color: #ccc;
    cursor: no-drop;
    opacity: 0.65;
}

.ui-radio input[type="radio"] + .fa {
    color: #CCCCCC;
    font-size: pxtorem(32px);
    float: left;
    margin-left: pxtorem(-20px);
}

.ui-radio input[type="radio"]:checked + .fa {
    color: #209281;
}

.ui-radio input[type="radio"] + .fa + span {
    font-weight: normal;
}

.ui-checkbox {
    /*margin: 0 pxtorem(20px) pxtorem(10px);*/
    position: relative;
}

.ui-checkbox input[type="checkbox"] + span:hover {
    cursor: pointer;
}

.ui-checkbox input[type="checkbox"] + span:hover:before {
    border-color: #209281;
}

.ui-checkbox input[type="checkbox"]:disabled + span:hover {
    cursor: not-allowed;
}

.ui-checkbox input[type="checkbox"]:disabled + span:hover:before {
    border-color: #ccc;
}

.ui-checkbox input[type="checkbox"] {
    display: none;
}

.ui-checkbox input[type="checkbox"] + span {
    font-weight: 400;
}

.ui-checkbox input[type="checkbox"] + span:before {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: pxtorem(2px);
    content: "";
    display: inline-block;
    height: pxtorem(18px);
    margin-left: pxtorem(-20px);
    margin-right: pxtorem(10px);
    transition: all 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: pxtorem(18px);
}

.ui-checkbox input[type="checkbox"]:disabled + span:before {
    border: 1px solid #ccc;
    cursor: no-drop;
    opacity: 0.65;
}

.ui-checkbox input[type="checkbox"]:checked + span:before {
    border: 1px solid #209281;
}

.ui-checkbox input[type="checkbox"]:checked + span:after {
    background-color: #209281;
    content: "";
    display: block;
    height: pxtorem(8px);
    left: pxtorem(-15px);
    position: absolute;
    top: pxtorem(7px);
    width: pxtorem(8px);
}

.ui-checkbox input[type="checkbox"]:disabled:checked + span:before {
    border: 1px solid #ccc;
    opacity: 0.65;
}

.ui-checkbox input[type="checkbox"]:disabled:checked + span:after {
    background-color: #ccc;
    cursor: no-drop;
    opacity: 0.65;
}

.ui-form-item .ui-icon-close {}

.ui-icon-close {
    position: absolute;
    top: 50%;
    right: pxtorem(10px);
    margin-top: pxtorem(-12px);
}

.ui-icon-close .fa {
    color: #DDDDDD;
    font-size: pxtorem(24px);
}

.ui-form-item-level {
    display: -webkit-box;
}

.ui-form-item-level .ui-form-item {
    -webkit-box-flex: 1;
    border-bottom: 1px solid #DDDDDD;
}

.ui-form-item-level .ui-form-item:last-child {
    border-left: 1px solid #DDDDDD;
}

.ui-form-item-level .ui-form-item span {
    color: #999999;
}


/*
 *ui-user-head
 *=====================================================================
 */

.ui-user-head {
    padding: pxtorem(10px);
}

.ui-user-head h3 {
    text-align: center;
    padding: 0 0 pxtorem(10px);
}

.ui-user-head + p {
    padding-left: pxtorem(10px);
    color: #666;
}

.ui-uesr-img {
    width: 3.8125em;
    height: 3.8125em;
    border-radius: 4em;
    border: .125em solid #FFF;
    box-shadow: inset 0 1px pxtorem(8px) rgba(0, 0, 0, 0.2);
    display: inline-block;
    position: relative;
    background-color: #209281;
}

.ui-uesr-img img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
}

.ui-uesr-img input {
    height: pxtorem(90px);
    position: absolute;
    top: 0;
    width: pxtorem(90px);
    opacity: 0;
}

.ui-uesr-default {
    font-size: pxtorem(60px);
    color: #fff;
    padding: pxtorem(13px);
}

.ui-uesr-img .icons-haed {
    position: absolute;
    top: 0;
    right: pxtorem(-5px);
}

.ui-uesr-img .icons-haed .fa {
    color: #FFA64D;
    text-shadow: 0 pxtorem(2px) 0 rgb(255, 255, 255), 0 pxtorem(-2px) 0 rgb(255, 255, 255), pxtorem(2px) 0 0 rgb(255, 255, 255), pxtorem(-2px) 0 0 rgb(255, 255, 255);
}

.ui-user-name {
    text-align: center;
    color: #999;
    font-size: pxtorem(15px);
}

.ui-user-name .icons-comments {
    background-color: #fff;
    border: 1px solid #CCCCCC;
    color: #999;
    border-radius: pxtorem(3px);
    padding: pxtorem(5px);
    position: relative;
    vertical-align: pxtorem(-2px);
}

.ui-user-name .icons-comments .badge {
    background-color: #FFA64D;
    position: absolute;
    top: pxtorem(-5px);
    right: pxtorem(-7px);
}

.ui-user-name .icons-comments .fa {
    font-size: pxtorem(20px);
}

.ui-title {
    font-size: pxtorem(18px);
    color: #666666;
    background-color: #eee;
    height: pxtorem(46px);
    line-height: pxtorem(56px);
    margin: 0;
    padding-left: pxtorem(10px);
}

.ui-title span {
    font-size: pxtorem(14px);
    color: #999999;
    margin-left: pxtorem(10px);
}

.ui-addr-info {
    border-left: pxtorem(3px) solid #ffffff;
    padding: pxtorem(10px) pxtorem(15px);
    position: relative;
    z-index: 10;
}

.ui-addr-info.active {
    border-left: pxtorem(3px) solid #209281;
}

.ui-addr-info.active .ui-check {}

.ui-addr-panel {
    background-color: #ffffff;
}

.ui-addr-info {}

.ui-addr-info a {
    display: block;
    padding: pxtorem(5px) 0;
    text-decoration: none;
}

.ui-addr-info a:hover {
    color: #999;
}

.ui-addr-info p {
    margin-bottom: pxtorem(3px);
    color: #666666;
}

.ui-addr-info p:last-child {
    margin-bottom: 0;
}

.ui-addr-info strong {
    font-weight: normal;
    font-size: pxtorem(18px);
}

.ui-addr-info span {
    color: #FFA64D;
    font-size: pxtorem(18px);
}

.paydeposit {
    .ui-container {
        position: static;
        background-color: #eee;
        &.AddressManger {
            padding-top: pxtorem(20px);
            .ui-arrows {
                &:after {
                    border: none;
                }
            }
        }
        &.AddAddress {
            background-color: #fff;
        }
    }
}

.ui-info-panel {
    border-bottom: 1px solid #DDD;
    background-color: #ffffff;
    position: relative;
    @include border-bottom;
    @include border-top;
    .ui-info-cent {
        border-left: pxtorem(3px) solid #ffffff;
        padding: pxtorem(18px) pxtorem(100px) pxtorem(18px) pxtorem(15px);
        position: relative;
        z-index: 10;
        &.active {
            border-left: pxtorem(5px) solid #209281;
            .ui-check {
                display: block;
                position: absolute;
                top: 50%;
                right: pxtorem(13px);
                margin-top: pxtorem(-10px);
            }
        }
        &.pay-way {
            padding: pxtorem(6px) 0 pxtorem(6px) pxtorem(15px);
        }
        p {
            /*margin-bottom: pxtorem(3px);*/
            margin: 0;
            color: #666666;
            &:last-child {
                margin-bottom: 0;
            }
        }
        span {
            font-weight: normal;
            font-size: pxtorem(16px);
            line-height: pxtorem(24px);
        }
        a {
            display: block;
            padding: pxtorem(5px) 0;
            text-decoration: none;
        }
        .address-name {
            font-size: pxtorem(16px);
        }
        .address-mobile {
            font-size: pxtorem(16px);
        }
        .address-detail {
            font-size: pxtorem(12px);
            line-height: pxtorem(20px);
        }
        .ui-check {
            display: none;
        }
        .ui-handle {
            position: absolute;
            top: 50%;
            /*right: pxtorem(-80px);*/
            margin-top: pxtorem(-14px);
            a {
                display: inline-block;
            }
            &.show {}
        }
        .ui-alipay {
            font-size: pxtorem(18px);
            color: #999999;
            .fa {
                font-size: pxtorem(36px);
                margin-right: pxtorem(10px);
                color: #999999;
                vertical-align: sub;
            }
        }
    }
    .ui-info-handle {
        padding-right: pxtorem(110px);
    }
}


/*ui-check*/

.ui-check {
    /*border-radius: 100%;width: pxtorem(24px);height: pxtorem(24px);line-height: pxtorem(24px);font-size: pxtorem(18px); display: block;text-align: center; background-color: #fff;*/
}

.ui-check .fa {
    font-size: pxtorem(24px);
    color: #209281;
}

.ui-handle [class^="icons-"] {
    width: pxtorem(32px);
    height: pxtorem(32px);
    color: #fff;
    font-size: pxtorem(22px);
    line-height: pxtorem(22px);
    text-align: center;
    display: inline-block;
    border-radius: pxtorem(3px);
}

.ui-handle .icons-edit {
    background-color: #98D8D0;
}

.ui-handle .icons-delete {
    background-color: #FFA64D;
    margin-left: pxtorem(5px);
}


/*ui-text*/

.ui-text {
    padding: pxtorem(10px);
    color: #999;
    margin-bottom: 0;
    padding-bottom: 0;
    p {
        color: #666;
        font-size: pxtorem(16px);
        &:last-child {
            margin-bottom: 0;
        }
        &.ui-tpye {
            color: #999;
            font-size: pxtorem(14px);
        }
        .fs {
            font-size: pxtorem(20px);
            font-weight: bold;
        }
    }
}


/*ui-thumb*/

.ui-thumb {
    padding: pxtorem(20px) pxtorem(50px) 0;
}

.ui-thumb p {
    margin-bottom: 0;
    text-align: center;
    font-size: pxtorem(15px);
    padding-top: pxtorem(15px);
    color: #999999;
}

.ui-thumb p span {
    font-size: pxtorem(18px);
    color: #209281;
}


/*
*ui-tab-lg
*==================================================================
 */

.ui-tab-lg {
    padding: pxtorem(10px);
}

.ui-tab-lg li {
    border-radius: pxtorem(3px);
    font-size: pxtorem(16px);
    background-color: #ffffff;
    border: pxtorem(2px) solid #DDDDDD;
    padding: pxtorem(12px) 0;
}

.ui-tab-lg li .fa {
    display: none;
}

.ui-tab-lg li.active {
    border-color: #1D917F;
    color: #1D917F;
    position: relative;
}

.ui-tab-lg li.active .fa {
    display: block;
    position: absolute;
    bottom: pxtorem(-3px);
    right: pxtorem(-2px);
    z-index: 2;
    color: #fff;
}

.ui-tab-lg li.active:after {
    display: block;
    z-index: 0;
    content: '';
    border-top: pxtorem(12px) solid transparent;
    border-left: pxtorem(12px) solid transparent;
    border-right: pxtorem(12px) solid #1D917F;
    border-bottom: pxtorem(12px) solid #1D917F;
    width: pxtorem(24px);
    height: pxtorem(24px);
    position: absolute;
    right: -1px;
    bottom: -1px;
}


/*
 *ui-thing-info
 *=================================================================================
 */

.ui-map .fa {
    font-size: pxtorem(20px);
    color: #999999;
}

.ui-map span {
    color: #666666;
}

.ui-blur {
    -webkit-filter: blur(pxtorem(10px));
}


/*.ui-my-shop{position: relative;z-index: 1;}*/

.ui-my-shop .ui-hd-img {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.ui-my-shop .ui-blur {
    position: absolute;
    top: 0;
    left: 0;
}

.ui-my-shop .ui-user-head {
    margin-top: pxtorem(-55px);
    position: relative;
    z-index: 2;
}

.ui-my-shop .ui-user-head h3 {
    margin: 0;
}

.ui-my-shop .ui-user-head .icons-heart {
    font-size: pxtorem(24px);
    vertical-align: middle;
}

.ui-thing-info {
    padding: pxtorem(10px);
    color: #999999;
    font-size: pxtorem(16px);
}

.ui-thing-info .ui-map {
    margin-bottom: pxtorem(20px);
}

.ui-thing-info .ui-photo {
    background-color: #CCCCCC;
    min-width: pxtorem(300px);
    min-height: pxtorem(200px);
    margin-top: pxtorem(35px);
    margin-left: pxtorem(15px);
    border: pxtorem(2px) solid #fff;
    box-shadow: pxtorem(-3px) pxtorem(-3px) 0 #CCCCCC, pxtorem(-5px) pxtorem(-5px) 0 #fff, pxtorem(-8px) pxtorem(-8px) 0 #CCCCCC, pxtorem(-10px) pxtorem(-10px) 0 #fff, pxtorem(-13px) pxtorem(-13px) 0 #CCCCCC, pxtorem(-15px) pxtorem(-15px) 0 #fff
}


/*
 *ui-footer
 *===========================================================================
 */

.ui-footer {
    .ui-footer-btn {
        background-color: #EEEEEE;
        padding: pxtorem(10px);
        border-top: 1px solid #CCCCCC;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        a {
            flex: 1;
            margin-right: pxtorem(10px);
        }
        [class^="icons-"] {
            display: inline-block;
            .fa {
                font-size: pxtorem(35px);
                vertical-align: sub;
                color: #1F927F;
            }
        }
        .btn {
            font-size: pxtorem(16px);
            .fa {
                font-size: pxtorem(32px);
                vertical-align: sub;
                color: #fff;
            }
            &.btn-sm {
                flex: 6;
                padding: 0;
                border: none;
                height: pxtorem(40px);
                line-height: pxtorem(40px);
                margin: 0 auto;
            }
        }
        &.active {
            color: #FFA64D;
        }
        &:after {
            display: block;
            content: '';
            clear: both;
        }
        .ui-number-meta {
            position: relative;
        }
        .ui-number {
            position: absolute;
            top: pxtorem(-8px);
            left: pxtorem(5px);
            color: #ffffff;
        }
    }
    .ui-blank {
        height: pxtorem(80px);
    }
}


/*
 *ui-cont-main
 */

.ui-cont-main {
    text-align: center;
}

.ui-cont-main h4 {
    text-align: center;
}

.ui-cont-main h4 i {
    font-size: pxtorem(24px);
    margin: 0 pxtorem(8px);
    color: #CCCCCC
}

.ui-cont-main h4 p {
    padding: pxtorem(5px) pxtorem(20px);
    display: inline-block;
    border-bottom: 1px solid #CCCCCC;
}

.ui-cont-main p {
    margin: 0;
}

.ui-cont-email {
    padding-top: pxtorem(40px);
}

.ui-cont-email i {
    font-size: pxtorem(70px);
}

.ui-cont-email a {
    font-size: pxtorem(16px);
}


/*

 */

.ui-panel {
    background-color: #fff;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}

.ui-item-panel {
    padding: pxtorem(20px);
}

.ui-item-panel h3 {
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: pxtorem(15px);
    margin-bottom: pxtorem(15px);
    margin-top: 0;
    font-size: pxtorem(16px);
    text-align: center;
    color: #666666;
}

.ui-item-panel ul {
    text-align: center;
}

.ui-item-panel ul li {
    display: inline-block;
    width: 29.8%;
    margin-left: 4%
}

.ui-item-panel ul li:first-child {
    margin-left: 0;
}

.page-collect .ui-panel {
    margin-bottom: pxtorem(20px);
}

.page-collect .ui-panel:first-child {
    border-top: 0;
}

.page-collect .ui-panel:last-child {
    margin-bottom: 0;
}

.page-collect .ui-panel h3 {
    text-align: left;
    line-height: pxtorem(22px);
}

.page-collect .ui-panel h3 a {
    display: block;
    padding-right: pxtorem(25px);
    color: #666;
}

.page-collect .ui-panel .ui-arrows:after {
    right: 0
}


/*
 *index
 * =========================================================================================================
 */

.page-home {
    background-color: #EEEEEE;
    .btn-block {
        width: auto;
    }
    .ui-container {
        top: pxtorem(83px);
        overflow: hidden;
    }
    .ui-container {
        &.show {
            display: block;
        }
    }
}

.ui-tabs {
    display: -webkit-box;
}

.ui-tabs li {
    -webkit-box-flex: 1;
    text-align: center;
    cursor: pointer;
}

.ui-tabs li:first-child {
    margin-left: 0;
}

.ui-tabs li.active {
    color: #1D9180;
}

.ui-tabs-pane {
    left: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    padding-top: pxtorem(15px);
    overflow-x: hidden;
    overflow-y: auto;
}


/*.ui-tabs-content .ui-tabs-pane:nth-child(2){left:100%;}
.ui-tabs-content .ui-tabs-pane:nth-child(3){left:200%;}*/

.ui-tabs-pane.active {
    left: 0;
}

.ui-tabs-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    -webkit-transition-duration: 500ms;
}

.ui-tabs-content.active {}


/*
 * =========================================================================================================
 */

.ui-tabs-pane article {
    margin-bottom: pxtorem(20px);
}

.ui-tabs-pane .ui-item-image {
    position: relative;
}

.ui-tabs-pane .item-count {
    position: absolute;
    top: pxtorem(10px);
    right: pxtorem(10px);
}

.ui-tabs-pane .item-count.default i {
    color: #666666
}

.ui-tabs-pane .item-title {
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: pxtorem(10px);
}

.ui-tabs-pane .item-title h3 {
    margin: 0 30% 0 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: pxtorem(16px);
    color: #fff;
    font-weight: bold;
}

.ui-tabs-pane .item-none {
    background: none;
}

.ui-tabs-pane .item-none h3 {
    color: #B0B0B0
}

.ui-tabs-pane .item-price {
    position: absolute;
    right: pxtorem(10px);
    bottom: pxtorem(8px);
}

.ui-tabs-pane .my-price {
    color: #F39F4A;
}

.ui-tabs-pane .ui-item-image .item-heart {
    position: absolute;
    right: pxtorem(10px);
    bottom: pxtorem(8px);
    color: #ffffff;
}

.ui-tabs-pane .fa {
    font-size: pxtorem(20px);
}

.ui-tabs-pane .ui-item-image .item-heart .active {
    color: #FFA64D;
}

.ui-tabs-pane .item-hd {
    background-color: #fff;
    border-bottom: 1px solid #CCCCCC;
    padding: pxtorem(10px);
}

.ui-tabs-pane .item-hd:after {
    clear: both;
    display: table;
    content: ''
}

.ui-tabs-pane .item-hd p {
    margin-bottom: 0;
}

.ui-tabs-pane .item-head {
    float: left;
    color: #666666;
}

.ui-tabs-pane .item-head img {
    width: pxtorem(30px);
    height: pxtorem(30px);
    border-radius: 100%;
    margin-right: pxtorem(5px);
    vertical-align: middle;
}

.ui-tabs-pane .item-head .fa {
    color: #999;
    margin-left: pxtorem(5px);
    vertical-align: middle;
}

.ui-tabs-pane .item-info {
    float: right;
    margin-top: pxtorem(3px);
}

.ui-tabs-pane .item-info [class^="item-"],
.ui-tabs-pane .item-info [class*=" item-"] {
    color: #9A9A9A;
    margin-left: pxtorem(8px);
}

.ui-tabs-pane .item-info .fa {
    margin-right: pxtorem(5px);
}

.ui-tabs-pane .item-info [class^="item-"] .active,
.ui-tabs-pane .item-info [class*=" item-"] .active {
    color: #FFA64D;
}


/*end index
*/


/*user-tabs
* =========================================================================================================
*/

.page-seller .ui-container,
.page-buyer .ui-container {
    position: static;
    display: block;
    overflow: auto
}

.user-tabs {
    display: -webkit-box;
}

.user-tabs li {
    -webkit-box-flex: 1;
    text-align: center;
    cursor: pointer;
}

.user-tabs li:first-child {
    margin-left: 0;
}

.user-tabs li.active {
    color: #1D9180;
}

.user-tabs-pane {
    padding-top: pxtorem(15px);
    display: none;
}

.user-tabs-pane.active {
    display: block;
}

.user-tabs-content.active {}

.ui-toe {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ui-lc1 {
    -webkit-line-clamp: 1;
}

.ui-lc2 {
    -webkit-line-clamp: 2;
}

.ui-lc3 {
    -webkit-line-clamp: 3;
}

.ui-lc4 {
    -webkit-line-clamp: 4;
}

.ui-img {
    width: pxtorem(100px);
    float: left;
}

.ui-count {
    color: #999999;
}

.ui-count i {
    display: inline-block;
    background: -webkit-linear-gradient(top, #c1c1c1 0%, #999999 100%);
    color: #ffffff;
    border-radius: pxtorem(2px);
    padding: 1px pxtorem(4px);
    margin-left: 1px;
    font-weight: bold;
}

.ui-count i:nth-child(1) {
    margin-left: pxtorem(5px);
}

.ui-count i:nth-child(2) {
    margin-right: 1px;
}

.ui-order-number {
    color: #999999;
}

.ui-user-navbar-nav li .fa {
    display: block;
    text-align: center;
    font-size: pxtorem(26px);
    margin-bottom: pxtorem(2px);
}

.ui-user-navbar-nav li {
    font-size: pxtorem(16px);
    position: relative;
    padding-bottom: pxtorem(8px);
    border-bottom: 1px solid #DDDDDD;
    color: #999999;
}

.ui-user-navbar-nav li.active:after {
    display: block;
    content: '';
    height: pxtorem(3px);
    width: pxtorem(40px);
    background-color: #1F927F;
    position: absolute;
    bottom: -1px;
    left: 50%;
    margin-left: pxtorem(-20px);
}


/*
* =========================================================================================================
*/

.ui-order-panel {
    background-color: #fff;
    padding: 0 pxtorem(10px);
    margin-bottom: pxtorem(10px);
}

.ui-order-hd {
    border-bottom: 1px solid #EEEEEE;
    padding: pxtorem(15px) 0 pxtorem(10px);
    position: relative;
    z-index: 10;
}

.ui-order-hd [class^="ui-c-"] {
    font-weight: bold;
}

.ui-order-hd .ui-count {
    position: absolute;
    right: 0;
    bottom: pxtorem(8px);
}

.ui-order-hd .ui-order-number {
    position: absolute;
    left: pxtorem(110px);
    bottom: 0;
}

.ui-order-bd {
    padding-top: pxtorem(15px);
    position: relative;
    z-index: 10;
    min-height: pxtorem(100px);
}

.ui-order-bd .ui-img {
    margin-right: pxtorem(10px);
}

.ui-order-bd a {
    text-decoration: none;
}

.ui-order-bd h3 {
    margin: 0 0 pxtorem(7px);
    font-size: pxtorem(16px);
    color: #666666;
    line-height: pxtorem(22px);
}

.ui-order-bd .ui-price {
    color: #1F927F;
    font-size: pxtorem(18px);
    font-weight: bold;
    padding-bottom: pxtorem(10px);
    margin-bottom: 0;
}

.ui-order-bd .ui-price span {
    font-size: pxtorem(13px);
    color: #999999;
    font-weight: normal;
}

.ui-order-bd .ui-count {
    position: absolute;
    right: 0;
    bottom: pxtorem(15px);
}

.ui-order-ft {
    border-top: 1px solid #EEEEEE;
    padding: pxtorem(10px) 0;
    text-align: right;
}

.ui-order-ft .btn {
    min-width: pxtorem(110px);
}

.ui-order-ft .btn:last-child {
    margin-left: pxtorem(5px);
}

.ui-order-ft .ui-btn-line li .btn:last-child {
    margin: 0;
}


/*
* =========================================================================================================
*/

.ui-store-panel {
    margin-top: pxtorem(-15px);
}

.ui-store-panel {
    background-color: #ffffff;
    margin-bottom: pxtorem(5px);
    li {
        border-bottom: 1px solid #DDDDDD;
        overflow: hidden;
    }
    input,
    textarea {
        font-size: pxtorem(14px);
        padding: pxtorem(15px);
        border: none;
        width: 100%;
    }
    .ui-store-rich {
        padding: pxtorem(15px);
        position: relative;
        z-index: 1;
    }
    .ui-store-rich a {
        color: #666666;
        display: block;
    }
    .ui-store-rich:after,
    .ui-store-rich:before {
        display: block;
        content: '';
        height: 1px;
        width: pxtorem(15px);
        background-color: #DDDDDD;
        position: absolute;
        right: pxtorem(10px);
    }
    .ui-store-rich:before {
        -webkit-transform: rotate(45deg);
        top: pxtorem(19px);
    }
    .ui-store-rich:after {
        -webkit-transform: rotate(-45deg);
        bottom: pxtorem(19px);
    }
}


/*
* =========================================================================================================
*/

.ui-file-panel {
    padding: pxtorem(10px);
}

.ui-file-img {
    margin-bottom: pxtorem(20px);
    display: flex;
    justify-content: center;
    &:after {
        display: block;
        content: '';
        clear: both;
    }
    li {
        &:first-child {
            margin-left: 0;
        }
        span {
            height: 100%;
            min-height: 100%;
            width: 100%;
            position: relative;
            z-index: 10;
        }
        .fa {
            padding: pxtorem(10px);
            font-size: pxtorem(32px);
            color: #CCCCCC;
        }
        margin-left: 2%;
        border: 1px solid #DDDDDD;
        background: #ffffff;
        position: relative;
        height:pxtorem(55px);
        text-align: center;
        overflow: hidden;
        flex-grow: 1;
        input[type=file] {
            background-image: url('/images/temp/1s.jpg');
            background-size: cover;
            display: inline-block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 9;
            opacity: 0;
        }
        img.selected {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
        }
    }
}


/*
* =========================================================================================================
*/

.ui-mini-tabs {
    text-align: right;
    background-color: #DDDDDD;
    margin-top: pxtorem(-15px);
    padding: pxtorem(10px) pxtorem(10px) 0;
}

.ui-mini-tabs li {
    display: inline-block;
    padding: pxtorem(8px) pxtorem(16px);
    color: #666666;
}

.ui-mini-tabs li.active {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    border-bottom-width: 0;
    border-radius: pxtorem(3px) pxtorem(3px) 0 0;
    font-weight: bold;
    color: #209281;
}

.ui-mini-tab-panel .ui-order-panel {
    display: none;
}

.ui-mini-tab-panel .ui-order-panel.active {
    display: block;
}


/*
end user-tabs
 */


/*
 *page-set
 * =========================================================================================================
 */

.page-set .ui-tabs {
    margin-top: pxtorem(10px);
}

.page-set .ui-tabs-content {
    padding-top: 0;
}

.page-set .ui-user-head {
    border-bottom: 1px solid #DDDDDD;
}

.page-set .ui-btn {
    margin-top: pxtorem(20px);
}

.set-tabs {
    display: -webkit-box;
}

.set-tabs li {
    -webkit-box-flex: 1;
    text-align: center;
    cursor: pointer;
}

.set-tabs li:first-child {
    margin-left: 0;
}

.set-tabs li.active {
    color: #1D9180;
}

.set-tabs-pane {
    padding-top: pxtorem(15px);
    display: none;
    &.active {
        display: block;
    }
}

.set-tabs-content .set-tabs-pane:nth-child(2) {
    left: 100%;
}

.set-tabs-content .set-tabs-pane:nth-child(3) {
    left: 200%;
}


/*
end set
 */


/*
 *message
 * =========================================================================================================
 */

.message-tabs {
    display: -webkit-box;
}

.message-tabs li {
    -webkit-box-flex: 1;
    text-align: center;
    cursor: pointer;
}

.message-tabs li:first-child {
    margin-left: 0;
}

.message-tabs li.active {
    color: #1D9180;
}

.message-tabs-pane {
    padding-top: pxtorem(15px);
}

.message-tabs-content .message-tabs-pane:nth-child(2) {
    left: 100%;
}

.message-tabs-content .message-tabs-pane:nth-child(3) {
    left: 200%;
}

.message-tabs-pane.active {}

.message-tabs-content.active {}


/*
 *ui-message-info
 *============================
 */

.ui-message-info li {
    background-color: #fff;
    padding: pxtorem(10px) pxtorem(10px) pxtorem(10px) pxtorem(70px);
    margin-bottom: pxtorem(10px);
}

.ui-message-info li .fa {
    font-size: pxtorem(50px);
    float: left;
    margin-left: pxtorem(-65px);
    color: #999;
    margin-top: pxtorem(26px);
}

.ui-message-info li h3 {
    font-size: pxtorem(16px);
    color: #666666;
    margin-top: 0;
    margin-bottom: pxtorem(15px);
}

.ui-message-info li p {
    color: #999;
    margin-bottom: 0;
}

.ui-message-info li span {
    color: #666;
}

.ui-message-meta {
    background-color: #fff;
    padding: pxtorem(10px);
}

.ui-message-meta .ui-post-content {
    border: 1px solid #98D8D0;
    border-radius: pxtorem(16px);
    padding: pxtorem(9px) pxtorem(15px);
    min-height: pxtorem(40px);
    display: inline-block;
    position: relative;
}

.ui-message-meta .ui-post-content:before,
.ui-message-meta .ui-post-content:after {
    display: block;
    content: '';
    width: pxtorem(10px);
    height: pxtorem(10px);
    position: absolute;
    top: pxtorem(10px);
}

.ui-message-meta .ui-advocate .ui-post-content:before {
    background-color: #fff;
    border: 1px solid #98D8D0;
    left: pxtorem(-8px);
    border-radius: pxtorem(0px) pxtorem(15px) pxtorem(0px) pxtorem(50px)
}

.ui-message-meta .ui-advocate .ui-post-content:after {
    background-color: #fff;
    left: 0;
    top: pxtorem(11px);
    border-radius: pxtorem(0px);
    width: pxtorem(5px);
}

.ui-message-meta .ui-assistant .ui-post-content {
    background-color: #98D8D0;
    color: #fff;
    text-align: left;
}

.ui-message-meta .ui-assistant .ui-post-content:before {
    background-color: #98D8D0;
    right: pxtorem(-8px);
    border-radius: pxtorem(15px) pxtorem(0px) pxtorem(50px) pxtorem(0px);
}

.ui-message-time {
    text-align: center;
}

.ui-message-time span {
    background-color: #EEEEEE;
    color: #999;
    border-radius: pxtorem(10px);
    padding: pxtorem(3px) pxtorem(20px);
    font-size: pxtorem(12px);
}


/*
end message
 */


/*
*ui-data-meta
*=============================================================================
*/

.ui-goods {
    background-color: #ffffff;
}

.ui-goods article {
    position: relative;
}

.ui-goods .ui-title-detail {
    font-size: pxtorem(18px);
    padding: 0 pxtorem(10px);
    margin: 0;
    color: #666666;
    line-height: pxtorem(22px);
}

.ui-goods .ui-price {
    text-align: right;
    margin-bottom: 0;
    padding: pxtorem(10px);
    color: #999999;
}

.ui-goods .ui-price span {
    color: #1F927F;
    font-size: pxtorem(16px);
    font-weight: bold;
}


/*
*ui-data-meta
*=============================================================================
*/

.ui-data-meta {
    background-color: #ffffff;
    padding: pxtorem(10px) 0;
    border-top: 1px solid #EEEEEE
}

.ui-data-meta li {
    border-left: 1px solid #EEEEEE;
    color: #999999;
}

.ui-data-meta li:first-child {
    border-left-width: 0;
}

.ui-data-meta li strong {
    color: #666666;
}


/*
 *
 *=============================================================================
 **/

.item-count-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: pxtorem(10px);
    text-align: right;
    color: #fff
}

.item-count-mask .item-time i,
.item-count-mask .item-time span {
    display: inline-block;
    background-color: #ffffff;
    border-radius: pxtorem(2px);
    padding: pxtorem(3px) pxtorem(5px);
    margin-left: 1px;
    font-weight: bold;
}

.item-count-mask .item-time i {
    color: #f00;
}

.item-count-mask .item-time span {
    color: #666666;
}


/*
*ui-roll-meta
*=============================================================================
*/

.ui-roll-meta {
    overflow: hidden;
    background-color: #ffffff;
}

.ui-roll-meta ul {
    width: 100%;
    padding: pxtorem(10px);
    overflow-x: auto;
}

.ui-roll-meta ul:after {
    display: block;
    content: '';
    clear: both;
}

.ui-roll-meta li {
    float: left;
    width: pxtorem(80px);
    margin-right: pxtorem(10px);
}

.ui-roll-meta li img {
    width: pxtorem(30px);
    height: pxtorem(30px);
    float: left;
    margin-right: pxtorem(10px);
    border-radius: 100%;
}

.ui-roll-meta li h3 {
    font-size: pxtorem(14px);
    font-weight: normal;
    margin: 0;
    color: #999999;
}

.ui-roll-meta li p {
    font-size: pxtorem(12px);
    margin: 0;
    color: #999999;
}


/*
*ui-detail-panel
*=============================================================================
*/

.ui-detail-panel {
    img {
        width: 100%;
        margin-bottom: pxtorem(10px);
    }
    .ui-description {
        padding-bottom: pxtorem(26px);
        line-height: pxtorem(18px);
    }
}


/*
*ui-eval-detail
*=============================================================================
*/

.ui-eval {
    background-color: #fff;
    padding: 0 pxtorem(10px);
}

.ui-eval-detail li {
    border-bottom: 1px solid #EEEEEE;
    position: relative;
    padding: pxtorem(10px) 0;
}

.ui-eval-detail li img {
    width: pxtorem(40px);
    height: pxtorem(40px);
    float: left;
    margin-right: pxtorem(10px);
    border-radius: 100%;
}

.ui-eval-detail li h3 {
    font-size: pxtorem(14px);
    font-weight: normal;
    margin: 0;
    color: #999999;
    margin-bottom: pxtorem(3px);
}

.ui-eval-detail li p {
    font-size: pxtorem(12px);
    margin: 0;
    color: #666666;
}

.ui-eval-detail li a {
    margin-right: pxtorem(5px);
}

.ui-eval-detail li .ui-time {
    position: absolute;
    top: 50%;
    right: 0;
    color: #999999;
    margin-top: pxtorem(-10px);
}

.ui-eval .ui-more-down {
    padding: pxtorem(10px);
    text-align: center;
    color: #999999;
}

.ui-brand {
    background-color: #ffffff;
    padding-bottom: pxtorem(78px);
}

.ui-brand h4 {
    padding: pxtorem(10px);
    margin: 0;
    font-size: pxtorem(18px);
}

.ui-brand h4 a {
    color: #666666;
    display: block;
}

.ui-brand h4 .fa {
    color: #999999;
    font-size: pxtorem(20px);
}

.ui-detail-panel {
    padding: pxtorem(10px);
    background-color: #ffffff;
    font-size: pxtorem(14px);
    color: #666666;
}

.ui-comment-panel {
    padding-top: pxtorem(15px);
}

.ui-comment-panel .ui-assistant p {
    padding-top: pxtorem(10px);
}

.ui-comment-panel .ui-post {
    position: relative;
    z-index: 1;
}

.ui-comment-panel .ui-post time {
    position: absolute;
    right: 0;
    top: pxtorem(10px);
    color: #999;
}


/*
 *ui-comment
 *=============================================================================
 */

.ui-comment-meta {
    background-color: #fff;
    padding: pxtorem(10px);
}

.ui-com-goods {
    background-color: #DDDDDD;
    padding: pxtorem(10px);
}

.ui-com-goods img {
    float: left;
    width: pxtorem(50px);
    margin-right: pxtorem(10px);
    margin-top: pxtorem(2px);
}

.ui-com-goods p {
    font-size: pxtorem(14px);
    margin-bottom: 0;
    line-height: pxtorem(20px);
    color: #666;
}

.ui-text-area {
    border-top: 1px solid #DDDDDD;
    padding: pxtorem(10px) 0 0 0;
    margin-top: pxtorem(15px);
}

.ui-text-area textarea {
    border: none;
    width: 100%;
    padding: 0;
}


/*
 *ui-post
 *=============================================================================
 */

.ui-post {
    margin-bottom: pxtorem(15px);
    min-height: pxtorem(40px);
}

.ui-post .ui-avatar {
    width: pxtorem(40px);
    height: pxtorem(40px);
    border-radius: 100%;
}

.ui-post h5 {
    margin-top: 0;
    margin-bottom: pxtorem(3px);
    color: #999;
}

.ui-post p {
    margin-bottom: 0;
}

.ui-advocate {
    padding-left: pxtorem(60px);
}

.ui-advocate img {
    margin-left: pxtorem(-60px);
    float: left;
}

.ui-assistant {
    padding-right: pxtorem(60px);
    text-align: right;
}

.ui-assistant img {
    float: right;
    margin-right: pxtorem(-60px);
}

.item-title h3 {
    font-size: pxtorem(16px);
    margin: 0;
}

.page-item .ui-container {
    margin-bottom: pxtorem(80px);
}

.page-contribute .ui-container .ui-store-panel {
    margin-top: 0;
}

.slideAnimated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.slideDownAnimated {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
