<!DOCTYPE html>
<html lang="en" ng-app="ssApp">

<head>
    <meta charset="UTF-8">
    <title>赏视</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="./css/srccss/app.css" rel="stylesheet">
    <script src="./js/vendor/lib.js"></script>
    <script src="./js/app.js"></script>
    <script>
    window.onresize = function() {
        document.documentElement.style.fontSize = parseInt(document.querySelector('body').offsetWidth) / 20 + 'px';
    }
    window.onload = function() {
        window.onresize();
    }
    </script>
</head>

<body>
    <div class="{{wrapClass}}" ui-view></div>
    <div class="ui-dialog" ng-if="dialogConfirm.show" ng-click="dialogConfirm.show = false">
        <div class="ui-dialog-mask"></div>
        <div class="ui-dialog-cent">
            <header class="ui-dialog-hd">
                <h3>{{dialogConfirm.title}}</h3>
                <i class="ui-dialog-close" data-role="button"></i>
            </header>
            <div class="ui-dialog-bd">
                <div>{{dialogConfirm.content}}</div>
            </div>
            <div class="ui-dialog-ft ui-btn-group">
                <button type="button" ng-click="dialogConfirm.confirmFn(false)" data-role="button">取消</button>
                <button type="button" ng-click="dialogConfirm.confirmFn(true)" data-role="button">确认</button>
            </div>
        </div>
    </div>
    <div class="ui-dialog" ng-if="dialog.show" ng-click="dialog.show = false">
        <div class="ui-dialog-cent">
            <div class="ui-dialog-bd">
                <div>{{dialog.content}}</div>
            </div>
        </div>
    </div>
    <div class="ui-share">
        <a href="javascript:;"><i class="fa">&#xe615;</i><p>微信</p></a>
        <a href="javascript:;"><i class="fa">&#xe617;</i><p>朋友圈</p></a>
        <a href="javascript:;"><i class="fa">&#xe616;</i><p>新浪微博</p></a>
    </div>
</body>

</html>
