<header class="ui-header">
    <h2>赏视</h2>
    <span class="hd-left" ng-click="slideMenuShow = !slideMenuShow">
        <a href="javascript:;" class="icons-menu"><i class="fa">&#xe600;</i></a>        
    </span>
    <span class="hd-right">
        <a ng-click="toUser()" class="icons-user"><span class="badge" ng-bind="dynamicCount"></span><i class="fa">&#xe61f;</i></a>
    </span>
</header>
<ul class="ui-tabs ui-navbar-nav">
    <li ui-sref="index({type:1})" ng-class="{active:type!=2&&type!=3}">进行中</li>
    <li ui-sref="index({type:2})" ng-class="{active:type==2}">即将开始</li>
    <li ui-sref="index({type:3})" ng-class="{active:type==3}">关注中</li>
</ul>
<section class="ui-container" productsScroll>
    <div class="ui-tabs-content">
        <div class="ui-tabs-pane" ng-class="{active:type!=2&&type!=3}">
            <article ng-repeat="product in products.processing.showData" data-id="{{product.id}}" ui-sref="detail({id:product.id})">
                <div class="ui-item-image">
                    <a href="javascript:;"><img ng-src="{{product.src}}">
                    </a>
                    <div class="item-title">
                        <h3>{{product.title}}</h3>
                    </div>
                    <span class="item-price"><i>&yen;</i>{{product.curPrice}}</span>
                    <span class="item-count">距离结束<countDown timestamp="{{product.endTime}}"></countDown></span>
                </div>
                <div class="item-hd">
                    <p class="item-head"><img ng-src="{{product.owner.avatar}}">{{product.owner.name}}<i class="fa">&#xe607;</i>
                    </p>
                    <productInfo loginslidein="$parent.loginSlideIn" product="product" showlogin="$parent.showLogin"></productInfo>
                </div>
            </article>
            <p class="ui-line-tips"><span>到底啦</span>
            </p>
        </div>
        <div class="ui-tabs-pane" ng-class="{active:type==2}">
            <p class="hide ui-line-tips"><span>以下商品尚未开售，你可以先收藏</span></p>
            <article ng-repeat="product in products.willBegin.showData">
                <div class="ui-item-image">
                    <a href="javascript:;"><img ng-src="{{product.src}}">
                    </a>
                    <div class="item-title item-none">
                        <h3>{{product.title}}</h3>
                    </div>
                    <span class="item-heart"><i class="fa">&#xe606;</i></span>
                    <span class="item-count default">距离结束<countDown timestamp="{{product.endTime}}"></countDown></span>
                </div>
            </article>
            <p class="ui-line-tips"><span>到底啦</span>
            </p>
        </div>
        <div class="ui-tabs-pane" ng-class="{active:type==3}">
            <div class="ui-login-tips" ng-show="noLogin">
                <p class="ui-line-tips"><span>哎呀，你还没登录呢！</span>
                </p>
                <a login class="btn btn-default btn-lgs btn-block">快来登录</a>
                <p class="t">登录后可以查看您所关注的商品哦。</p>
                <p class="t">没有账号 快来<a regitser>申请一个</a>吧</p>
            </div>
            <article ng-repeat="product in products.interest.showData">
                <div class="ui-item-image">
                    <a href="javascript:;"><img ng-src="{{product.src}}">
                    </a>
                    <div class="item-title">
                        <h3>{{product.title}}</h3>
                    </div>
                    <span class="item-price"><i>&yen;</i>{{product.curPrice}}</span>
                    <span class="item-count">距离结束<countDown timeteam="{{product.endTime}}"></countDown></span>
                </div>
                <div class="item-hd">
                    <p class="item-head"><img ng-src="{{product.owner.avatar}}">{{product.owner.name}}<i class="fa">&#xe607;</i>
                    </p>
                    <productInfo loginslidein="$parent.loginSlideIn" product="product" showlogin="$parent.showLogin"></productInfo>
                </div>
            </article>
            <p class="ui-line-tips"><span>到底啦</span>
            </p>
        </div>
    </div>
</section>
<div class="ui-sidemenu slideAnimated slideInLeft" ng-show="slideMenuShow" ng-click="slideMenuShow = !slideMenuShow">
    <div class="ui-sidemenu-mask" etap='ui_sidemenu_hide'></div>
    <div class="ui-sidemenu-main">
        <slideMenuUser></slideMenuUser>
        <ul class="ui-sidemenu-nav">
            <li class="ui-arrows"><a href="javascript:;"><i class="fa">&#xe601;</i> 藏品心得</a></li>
            <li class="ui-arrows"><a href="javascript:;"><i class="fa">&#xe605;</i> 我要投稿</a></li>
            <li class="ui-arrows"><a href="javascript:;"><i class="fa">&#xe60a;</i> 联系赏视</a></li>
            <li class="ui-arrows"><a href="javascript:;"><i class="fa">&#xe62d;</i> 清除缓存</a></li>
        </ul>
    </div>
</div>
<div class="ui-loding">
    <div class="ui-loding-info">
        <img ng-src="/images/icons/loading.gif">
        <h5>加载中...</h5>
        <p>最后更新时间：今天10:17</p>
    </div>
</div>
<div class="ui-loding ui-loding-white">
    <div class="ui-loding-info">
        <img ng-src="/images/icons/loading.gif">
        <h5>加载更多...</h5>
    </div>
</div>
<div class="ui-login slideDownAnimated" ng-class="{slideInDown:loginSlideIn,slideOutUp:!loginSlideIn}" slideDownLogin ng-show="showLogin">
    <p><span>哎呀，你还没登录呢！</span>
    </p>
    <a href="javascript:;" class="btn btn-primary btn-lgs btn-block" login>登录后更精彩</a>
    <p>登录后可以查看您所关注的商品哦。</p>
    <p>没有账号 快来<a href="javascript:;" register>申请一个</a>吧</p>
</div>