<!-- page-home -->
<header class="ui-header">
    <h2>缴纳保证金</h2>
    <span class="hd-left">
    <a href="javascript:;" class="icons-back"><i class="fa">&#xe632;</i></a>
  </span>
    <span class="hd-right">
    <a href="javascript:;" class="icons-save">保存</a>
  </span>
</header>
<section class="ui-container">
    <div class="ui-text">
        <p>拍卖是一诺千金的事，需先缴纳保证金，拍卖不成功，我们系数奉还！</p>
        <p class="ui-tpye">冻结保证金：<span class="ui-c-green fs"><i>&yen;</i>213</span></p>
    </div>
    <h3 class="ui-title">收货地址</h3>
    <div class="ui-info-panel" ng-repeat="{{address in user.addresses}}">
        <div class="ui-info-cent ui-arrows active">
            <p><strong ng-bind="{{address.name}}"></strong><span class="ui-" ng-if="{{address.isdefault}}">[默认]</span></p>
            <p><strong ng-bind="{{address.mobile}}"></strong></p>
            <p  ng-bind="{{address.detail}}"></p>
        </div>
    </div>
    <div class="ui-info-panel">
        <div class="ui-info-cent active">
            <p><strong>东方朔</strong><span class="ui-">[默认]</span></p>
            <p><strong>18888888888</strong></p>
            <p>西汉平原郡厌次县（今山东省德州市陵县 **街道 **路 **号</p>
            <span class="ui-check"><i class="fa">&#xe610;</i></span>
        </div>
    </div>
    <div class="ui-info-panel">
        <div class="ui-info-cent ui-arrows">
            <p><strong>东方朔</strong></p>
            <p><strong>18888888888</strong></p>
            <p>上海 闸北</p>
            <span class="ui-check"><i class="fa">&#xe610;</i></span>
        </div>
    </div>
    <div class="ui-info-panel">
        <div class="ui-info-cent ui-info-handle">
            <p><strong>东方朔</strong></p>
            <p><strong>18888888888</strong></p>
            <p>西汉平原郡厌次县（今山东省德州市陵县 **街道 **路 **号</p>
            <span class="ui-check"><i class="fa">&#xe610;</i></span>
            <div class="ui-handle">
                <a href="#" class="icons-edit"><i class="fa">&#xe60f;</i></a>
                <a href="#" class="icons-delete"><i class="fa">&#xe62d;</i></a>
            </div>
        </div>
    </div>
    <div class="ui-info-panel" ng-if="{{!user.address.length}}">
        <div class="ui-info-cent ui-arrows">
            <a href="" class="ui-c-gray">添加收货人信息</a>
        </div>
    </div>
    <h3 class="ui-title">缴纳方式</h3>
    <div class="ui-info-panel">
        <div class="ui-info-cent">
            <p class="ui-alipay"><i class="fa">&#xe611;</i>支付宝支付</p>
        </div>
    </div>
    <p class="ui-pasw-deal">我同意<a href="#">赏时竞拍协议</a></p>
    <div class="ui-btn-panel">
        <a href="#" class="btn btn-primary btn-lgs btn-block">同意并缴纳</a>
        <!-- <li><a href="#" class="btn btn-primary btn-lg btn-block">全部上架</a></li> -->
    </div>
</section>
<section class="ui-container">
    <div class="ui-thumb">
        <img src="static/temp/2.jpg">
        <p>一口价<span><i>&yen;</i>1520</span></p>
    </div>
    <h3 class="ui-title">收货地址</h3>
    <div class="ui-info-panel">
        <div class="ui-info-cent ui-arrows active">
            <p><strong>东方朔</strong></p>
            <p><strong>18888888888</strong></p>
            <p>上海 闸北</p>
        </div>
    </div>
    <h3 class="ui-title">缴纳方式</h3>
    <div class="ui-info-panel">
        <div class="ui-info-cent">
            <p class="ui-alipay"><i class="fa">&#xe611;</i>支付宝支付</p>
        </div>
    </div>
    <p class="ui-pasw-deal">请在<span>1小时</span>内完成付款，逾期订单将自动取消</p>
    <div class="ui-btn-panel">
        <a href="#" class="btn btn-primary btn-lgs btn-block">同意并缴纳</a>
        <!-- <li><a href="#" class="btn btn-primary btn-lg btn-block">全部上架</a></li> -->
    </div>
</section>
<section class="ui-container">
    <div class="ui-form-action">
        <div class="ui-form">
            <div class="ui-form-item">
                <input type="text" placeholder="用户名">
                <a href="#" class="ui-icon-close"><i class="fa">&#xe612;</i></a>
            </div>
            <div class="ui-form-item">
                <input type="number" placeholder="输入手机号">
                <a href="#" class="ui-icon-close"><i class="fa">&#xe612;</i></a>
            </div>
            <div class="ui-form-item">
                <input type="number" placeholder="邮政编码">
                <a href="#" class="ui-icon-close"><i class="fa">&#xe612;</i></a>
            </div>
            <div class="ui-form-item ui-arrows">
                <p>省，市，区</p>
            </div>
            <div class="ui-form-item">
                <textarea name="" id="" cols="30" rows="4" placeholder="详细地址"></textarea>
            </div>
        </div>
    </div>
</section>
