<section class="ui-container {{containerClass}}">
    <div class="ui-info-panel" ng-repeat="address in addresses" addressId="{{address.id}}" >
        <div class="ui-info-cent ui-arrows" ng-class="{active:address.isDefault}">
            <p><span class="address-name">{{address.name}}</span><span class="ui-" ng-if="address.isDefault">[默认]</span></p>
            <p><span class="address-mobile">{{address.mobile}}</span></p>
            <p class="address-detail">{{address.detail}}</p>
            <span class="ui-check"><i class="fa">&#xe610;</i></span>
            <div class="ui-handle">
                <a href="javascript:;" class="icons-edit" root="$parent.$parent" address="address" editAddress><i class="fa">&#xe60f;</i></a>
                <a href="javascript:;" class="icons-delete" root="$parent.$parent" address="address" deleteAddress><i class="fa">&#xe62d;</i></a>
            </div>
        </div>
    </div>
</section>
