<section class="ui-container">
    <ul class="user-tabs ui-user-navbar-nav" ng-init="page = 1" hookvar="page" switch>
        <li ng-class="{active:page == 1}"><i class="fa">&#xe60c;</i>我的订单</li>
        <li ng-class="{active:page == 2}"><i class="fa">&#xe633;</i>店铺设置</li>
        <li ng-class="{active:page == 3}"><i class="fa">&#xe634;</i>商品管理</li>
    </ul>
    <div class="user-tabs-content">
        <div class="user-tabs-pane" ng-class="{active:page == 1}">
            <article class="ui-order-panel" ng-repeat="order in myorder">
                <div class="ui-order-hd">
                    <span class="ui-c-gray">{{order.statusText}}</span>
                    <p class="ui-order-number">订单号<strong>{{order.number}}</strong></p>
                </div>
                <div class="ui-order-bd">
                    <a href="javascript:;">
                        <span class="ui-img"><img ng-src="{{order.product.srcs[0]}}"></span>
                        <h3 class="ui-order-title ui-toe">{{order.product.title}}</h3>
                        <p class="ui-price"><i>&yen;</i>{{order.product.price}}</p>
                    </a>
                </div>
            </article>
        </div>
        <div class="user-tabs-pane" ng-class="{active:page == 2}">
            <ul class="ui-store-panel">
                <li>
                    <input type="text" ng-model="storeName" name="" id="" placeholder="店铺名称(一旦设置将无法修改,请谨慎)">
                </li>
                <li>
                    <textarea ng-model="storeInfo" name="" id="" cols="30" rows="4" placeholder="店铺介绍"></textarea>
                </li>
                <li>
                    <textarea ng-model="storeAddress" name="" id="" cols="30" rows="4" placeholder="详细地址(非必填)"></textarea>
                </li>
            </ul>
            <div class="ui-file-panel">
                <form action=""  name="uploadForm" id="uploadProduct" enctype="multipart/form-data">
                    <ul class="ui-file-img">
                        <li>
                            <input type="file" ng-model="formData.img1" name="img1" uploadimg /><img src="/images/temp/icons-plus.png" alt="" class="selected"></li>
                        <li>
                            <input type="file" ng-model="formData.img2" name="img2" uploadimg /><img src="/images/temp/icons-plus.png" alt="" class="selected"></li>
                        <li>
                            <input type="file" ng-model="formData.img3" name="img3" uploadimg /><img src="/images/temp/icons-plus.png" alt="" class="selected"></li>
                        <li>
                            <input type="file" ng-model="formData.img4" name="img4" uploadimg /><img src="/images/temp/icons-plus.png" alt="" class="selected"></li>
                        <li>
                            <input type="file" ng-model="formData.img5" name="img5" uploadimg /><img src="/images/temp/icons-plus.png" alt="" class="selected"></li>
                    </ul>
                </form>
                <ul class="ui-btn-line">
                    <li><a href="javascript:;" class="btn btn-default btn-lgs btn-block">预览</a></li>
                    <li><a href="javascript:;" class="btn btn-primary btn-lgs btn-block" savestore="savesetting()">确认设置</a></li>
                </ul>
            </div>
        </div>
        <div class="user-tabs-pane" ng-class="{active:page == 3}">
            <ul class="ui-mini-tabs" ng-init="inpage = 1" hookvar="inpage" switch>
                <li ng-class="{active:inpage == 1}">在售中</li>
                <li ng-class="{active:inpage == 2}">已下架</li>
            </ul>
            <div class="user-tabs-content">
                <div class="ui-mini-tab-panel" ng-class="{active:inpage == 1}">
                    <article class="ui-order-panel" ng-repeat="product in selling">
                        <div class="ui-order-bd">
                            <a href="javascript:;">
                                <span class="ui-img"><img ng-src="{{product.src}}"></span>
                                <h3 class="ui-order-title ui-toe">{{product.description}}</h3>
                                <p class="ui-price"><span>一口价</span> <i>&yen;</i>{{product.curPrice}}</p>
                            </a>
                        </div>
                        <div class="ui-order-ft">
                            <ul class="ui-btn-line">
                                <li><a href="javascript:;" class="btn btn-default btn-lg btn-block">下架</a></li>
                                <li><a href="javascript:;" class="btn btn-default btn-lg btn-block">删除</a></li>
                                <li><a href="javascript:;" class="btn btn-default btn-lg btn-block">修改</a></li>
                            </ul>
                        </div>
                    </article>
                </div>
                <div class="ui-mini-tab-panel" ng-class="{active:inpage == 2}">
                    <article class="ui-order-panel" ng-repeat="product in selling">
                        <div class="ui-order-bd">
                            <a href="javascript:;">
                                <span class="ui-img"><img ng-src="{{product.src}}"></span>
                                <h3 class="ui-order-title ui-toe">{{product.description}}</h3>
                                <p class="ui-price"><span>一口价</span> <i>&yen;</i>{{product.curPrice}}</p>
                            </a>
                        </div>
                        <div class="ui-order-ft">
                            <ul class="ui-btn-line">
                                <li><a href="javascript:;" class="btn btn-default btn-lg btn-block">下架</a></li>
                                <li><a href="javascript:;" class="btn btn-default btn-lg btn-block">删除</a></li>
                                <li><a href="javascript:;" class="btn btn-default btn-lg btn-block">修改</a></li>
                            </ul>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="btn-bottom-panel">
            <ul class="ui-btn-line">
                <li><a href="javascript:;" class="btn btn-primary btn-lg btn-block">全部上架</a></li>
                <li><a href="javascript:;" class="btn btn-warning btn-lg btn-block">发布商品</a></li>
            </ul>
        </div>
    </div>
</section>
