
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-y6:before { content: "\e621"; }
.icon-y5:before { content: "\e623"; }
.icon-y4:before { content: "\e624"; }
.icon-y3:before { content: "\e625"; }
.icon-y2:before { content: "\e626"; }
.icon-y1:before { content: "\e622"; }
.icon-y0:before { content: "\e627"; }
.icon-check01:before { content: "\e620"; }
.icon-statenow:before { content: "\e62d"; }
.icon-quotea:before { content: "\e600"; }
.icon-quoteb:before { content: "\e601"; }
.icon-countryall:before { content: "\e602"; }
.icon-countrymoon:before { content: "\e603"; }
.icon-countrysun:before { content: "\e604"; }
.icon-sortbags:before { content: "\e605"; }
.icon-sortbeauty:before { content: "\e606"; }
.icon-sortcloth:before { content: "\e607"; }
.icon-sortelectronics:before { content: "\e608"; }
.icon-sortfood:before { content: "\e609"; }
.icon-sortglass:before { content: "\e60a"; }
.icon-sorthealth:before { content: "\e60b"; }
.icon-sortjewel:before { content: "\e60c"; }
.icon-sortlife:before { content: "\e60d"; }
.icon-sortmami:before { content: "\e60e"; }
.icon-sortman:before { content: "\e60f"; }
.icon-sortwatch:before { content: "\e610"; }
.icon-closebtn:before { content: "\e62e"; }
.icon-btnsharewx:before { content: "\e628"; }
.icon-btnsharexl:before { content: "\e629"; }
.icon-article:before { content: "\e611"; }
.icon-comment:before { content: "\e612"; }
.icon-commentback:before { content: "\e613"; }
.icon-editer:before { content: "\e614"; }
.icon-erro:before { content: "\e615"; }
.icon-followseller:before { content: "\e616"; }
.icon-like:before { content: "\e617"; }
.icon-location:before { content: "\e618"; }
.icon-ok:before { content: "\e619"; }
.icon-show:before { content: "\e61b"; }
.icon-time:before { content: "\e61c"; }
.icon-timed:before { content: "\e61d"; }
.icon-goods:before { content: "\e61e"; }
.icon-shopping:before { content: "\e61a"; }
.icon-add:before { content: "\e61f"; }
.icon-sizebra42x42:before { content: "\e62a"; }
.icon-sizecoat42x42:before { content: "\e62b"; }
.icon-sizepants42x42:before { content: "\e62c"; }
