<!DOCTYPE html>
<html>

<head>
    <title>TEST</title>
    <script src="http://cdn.bootcss.com/angular.js/1.4.7/angular.js"></script>
    <script src="./angular-controller-service.js"></script>
</head>

<body>
    <div ng-app="myApp">
        <div ng-controller="SelectController">
            <div ng-repeat="item in service">
                <h1>{{item.id}}</h1>
                <h1>{{item.name}}</h1>
            </div>
            <button ng-click="generate()">Generate</button>
        </div>
        <div ng-controller="GraphController">
            <div ng-repeat="item in service">
                <h1>{{item.id}}</h1>
                <h1>{{item.name}}</h1>
            </div>
        </div>
    </div>
</body>

</html>
