/*!
 * Author      : Tom
 * Description : Global css file
 * Create      : 2015-06-17
 */
/*
 *ui-comment
 *=============================================================================
 */
.ui-comment-meta{background-color: #fff;padding: 10px;}
.ui-com-goods{background-color: #DDDDDD;padding: 10px;}
.ui-com-goods img{float: left;width: 50px;margin-right: 10px;margin-top: 2px;}
.ui-com-goods p{font-size: 14px;margin-bottom: 0;line-height: 20px;color: #666;}
.ui-text-area{border-top: 1px solid #DDDDDD;padding: 10px 0 0 0;margin-top: 15px;}
.ui-text-area textarea{border: none;width: 100%;padding: 0;}

/*
 *ui-post
 *=============================================================================
 */
.ui-post{margin-bottom: 15px;min-height: 40px;}
.ui-post .ui-avatar{width: 40px;height: 40px;border-radius: 100%;}
.ui-post h5{margin-top: 0;margin-bottom: 3px;color: #999;}
.ui-post p{margin-bottom: 0;}
.ui-advocate{padding-left: 60px;}
.ui-advocate img{margin-left: -60px;float: left;}
.ui-assistant{padding-right: 60px;text-align: right;}
.ui-assistant img{float: right;margin-right: -60px;}










