.ui-header {
    background-color: #F7F9F8;
    border-bottom: 1px solid #CCCCCC;
    position: relative;
    z-index: 10;
    h2 {
        color: #666666;
        text-align: center;
        margin: 0;
        height: 46px;
        line-height: 46px;
        font-size: 20px;
    }
    [class^="hd-"],
    [class*=" hd-"] {
        position: absolute;
        top: 0;
    }
    .hd-left {
        left: 0;
        text-align: left;
    }
    .hd-right {
        right: 0;
        text-align: right;
    }
    [class^="icons-"] {
        padding: 10px;
        min-width: 50px;
        display: block;
        font-size: 16px;
    }
    .hd-left .icons-back {
        text-indent: -4px;
    }
    .hd-left .fa,
    .hd-right .fa {
        font-size: 26px;
    }
    .hd-right [class^="icons-"] {
        text-align: right;
    }
    .hd-right .icons-save {
        padding: 12px 10px;
    }
    .hd-right .badge {
        background-color: #FFA64D;
        position: relative;
        right: -10px;
        bottom: -2px;
        z-index: 10;
        height: 14px;
        min-width: 14px;
        line-height: 15px;
        text-align: center;
        padding: 0;
    }
    .icons-menu,
    .icons-user {
        color: #1D9180;
    }
    .icons-back {
        color: #999999;
    }
    .icons-back:hover {
        color: #666666;
    }
}
